:root{
    margin: 0;
    padding: 0;
}

h2,p{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #F8F9FA; */
    /* background: linear-gradient(135deg, #FFF7E6 0%, #FFE8B6 35%, #FFD166 100%); */
    /* background: linear-gradient(135deg, #FFF3D4, #FFD166, #F4A261); */
    margin: 0;
   /* background: linear-gradient(to bottom right, #FFF8E7, #FFE0A3); */
   background: linear-gradient(135deg, #FFF7E6 0%, #FFE8B6 35%, #FFD166 100%);
}